.sectionCategories {
  padding: 180px 0 100px 0;
}

.sectionCategories h2 {
  font-family: 'Cal Sans';
  font-weight: 600;
  font-size: 44px;
  text-align: center;
  margin-bottom: 80px;
}

.sectionCategories span {
  color: #FF6428;
}

.sectionCategories .categories {
  display: flex;
  justify-content: space-between;
}
