.header {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.header h3 {
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.header a {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #868686;
  text-decoration: none;
  transition: all 500ms ease;
}

a:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  color: #FF6428;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

