.store {
  position: relative;
  display: block;
}

.store::after {
  content: "";
  background: url("../../../assets/img/bgcatalog.jfif") center center/cover no-repeat;
  -webkit-mask-image:-webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%);
  opacity: 0.1;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.store h2 {
  text-align: center;
  font-family: 'Cal Sans';
  font-weight: 600;
  font-size: 44px;
}

.store span {
  color: #FF6428;

}