.card {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  height: 320px;
}

.card h4 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  margin-top: auto;
}

card p {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}

.card .picGuitar {
  width: 100%;
  max-height: 150px;
}

