.infoOnline {
  margin: 235px 0 220px 0;
}

.infoOnline h1 {
  font-family: 'Cal Sans';
  font-size: 44px;
  margin-bottom: 10px;
  white-space: pre-wrap;
}

.infoOnline p {
  font-family: 'Poppins';
  font-size: 16px;
  color: #666666;
  margin-bottom: 30px;
  white-space: pre-wrap;
}

.getApp button {
  padding: 18px 48px;
  gap: 10px;
  background: #FF6428;
  border: none;
  border-radius: 40px;
  font-family: 'Poppins';
  font-size: 16px;
  color: #FFFFFF;
  box-shadow: 0px 2px 5px 0px rgb(102 102 102);
  transition: all 500ms ease;
}

.getApp button:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.getApp :nth-child(2) {
  margin: 0 30px 0 40px;
}

.getApp a img {
  transition: all 500ms ease;
}

.getApp a :hover {
  transform: scale(1.1);
  transition: all 0.5s ease;

}

