.sectionBestBrands {
  padding: 0 112px 180px 112px;
}

.sectionBestBrands h2 {
  font-family: 'Cal Sans';
  font-weight: 600;
  font-size: 44px;
  text-align: center;
  margin-bottom: 70px;
}

.sectionBestBrands span {
  color: #FF6428;
}

.sectionBestBrands .brands {
  height: 230px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  align-items: center;
  justify-content: space-around;
}

.sectionBestBrands .brands .logo {

}

.sectionBestBrands .brands img {
  opacity: 0.4;
  transition: all 0.5s ease;
}

.sectionBestBrands .brands img:hover {
  opacity: 1;
  transform: scale(1.5);
  transition: all 0.5s ease;
}